

footer{
	background: #000;
	height: 90px;
	width: 100%;
	color: orange;
	font-family: monospace;
	padding: 30px;
}

.cajon{
  display:flex;
  flex-wrap: wrap;
}

.contenido{
flex: 1;
min-width:250px;
}
